<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
        <a class="brand-logo center">SearchCountry</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="collection-item">By Name</a></li>
            <li><a routerLink="/region" routerLinkActive="active" class="collection-item">By Region</a></li>
            <li><a routerLink="/capital" routerLinkActive="active" class="collection-item">By Capital</a></li>
        </ul>
    </div>
    </nav>
</header>
