<div class="fixed-action-btn toolbar hide-on-large-only">
    <a class="btn-floating btn-large">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a routerLink="/name" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="collection-item">By Name</a></li>
        <li><a routerLink="/region" routerLinkActive="active" class="collection-item">By Region</a></li>
        <li><a routerLink="/capital" routerLinkActive="active" class="collection-item">By Capital</a></li>
    </ul>
</div>
